/* AccessPage.css */

/* Styles for the container div */
.AccessPageContainer {
    margin: 20px;
  }
  
  /* Styles for the heading */
  .AccessPageHeading {
    font-size: 24px;
    color: #333;
  }
  
  /* Styles for the navigation */
  .AccessPageNav {
    margin-top: 10px;
  }
  
  /* Styles for the navigation list */
  .AccessPageNav ul {
    list-style-type: none;
    padding: 0;
  }
  
  /* Styles for the navigation list items */
  .AccessPageNav li {
    display: inline;
    margin-right: 100px;
  }
  
  /* Styles for the navigation links */
  .AccessPageNav li a {
    text-decoration: none;
    color: #007bff; /* Blue color, you can change it as per your preference */
  }
  
  /* Styles for the navigation links on hover */
  .AccessPageNav li a:hover {
    color: #0056b3; /* Darker blue color on hover, you can change it as per your preference */
  }
  
  /* Styles for the images */
  .AccessPageImage {
    width: 100px; /* Adjust the width as per your preference */
    height: auto; /* Maintain aspect ratio */
  }
  
  .custom-margin-bottom {
    margin-bottom: 100px; /* Adjust this value as needed */
  }
  